.editTodo {
  width: 90%;
  margin: 1rem auto;
  padding: 12px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: all 0.5s ease-in-out;
  box-sizing: border-box;
}

.editTodo > h2 {
  font-size: 2rem;
  font-weight: 500;
}

.editTodo > form {
  width: 100%;
  height: 40px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.editTodo > form > input {
  width: 60%;
  height: 100%;
  font-size: 1rem;
  padding-left: 10px;
  border: 1px solid gray;
  outline: none;
}

.editTodo > form > button {
  width: 30%;
  height: 100%;
  border: none;
  background-color: blue;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
}
